body {
  padding: 0px;
  margin: 0px;
  /*height: 100%;
    background-repeat: no-repeat;
    background: url(../images/marco.png) no-repeat center center fixed;
    background-size: 100% 100%;
    padding: 40px;*/
}
* {
  font-size: 14px;
  color: #494949;
}
figcaption {
  font-size: 10px;
  color: #fff;
  margin-top: 5px;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
h2 {
  font-size: 16px;
  font-weight: 800;
  color: #8d98ac;
  margin-bottom: 0px;
}
p {
  color: #fff;
  font-size: 10px;
  font-weight: 300;
}
.text-marco {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-close {
  margin-right: 8px;
}
.text-14 {
  font-size: 12px !important;
  font-weight: 500;
}
.video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container-flash {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0.4 !important;
  z-index: 1;
  position: absolute;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.b-content {
  background-color: #494949;
  height: 50px;
  text-align: center;
  padding-right: 40px;
}
.f-content {
  text-align: center;
  padding: 0px;
  margin-right: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.m-content {
  width: 100%;
}
.content-flex {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
}
.photo-place {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-transform: translate(-50%, -50%); */
  border: 10px solid #7ed321;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
}
.icon-conten {
  margin-top: 10px;
}
.icon-photo {
  width: 60px;
}
.icon-flex {
  top: 0%;
}
.icon-deseable {
  opacity: 0.4 !important;
  margin-left: 30px;
}
.icon-conten-close {
  margin-top: 5px;
}
.icon-size {
  width: 25px;
  margin-right: 60px;
}
.alert-camera {
  background-color: #ff7058;
  height: 45px;
  width: 100%;
  text-align: center;
  padding: 5px;
}
.p-0 {
  padding: 0px !important;
}
.m-resolution {
  display: none;
}
.text-gray {
  color: #8d98ac;
  font-size: 14px;
}

@media (orientation: landscape) {
  .photo-place {
    width: 70%;
    height: 70%;
    position: fixed;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    /* -webkit-transform: translate(-50%, -50%); */
    border: 10px solid #7ed321;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
  }
}

@media (orientation: portrait) {
  .photo-place {
    width: 90%;
    height: 80%;
    position: fixed;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* -webkit-transform: translate(-50%, -50%); */
    border: 10px solid #7ed321;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
  }
  .text-14 {
    transform: rotate(90deg);
  }
}
